:is(.flex) {
	display: flex;
	justify-content: center;
	align-items: center;
}

:is(.flex--center) {
	justify-content: center;
	align-items: center;
}

:is(.flex--align-center) {
	align-items: center;
}
